<!-- Excerpt -->
<div class="excerpt">
  
  {% if team.website %}
  <a href="{{ team.website }}" target="_blank">
  {% elsif team.facebook %}
  <a href="{{ team.facebook }}" target="_blank">
  {% else %}
  <a href="{{ team.twitter }}" target="_blank">
  {% endif %}

  <!-- Excerpt Title -->
  <div class="row excerpt__title align-middle">
    <div class="small-12 columns text-center">
      <p>{{ team.title }}</p>
    </div>
  </div>
  <!-- End Excerpt Title -->

  <!-- Excerpt Image -->
  <div class="excerpt__image">
  <img src="{{team.image}}" alt="{{team.title}}">
  </div>
  <!-- End Image -->

  </a>
</div>
<!-- End Excerpt -->