<link rel="stylesheet" href="/assets/flexslider/flexslider.css" type="text/css" media="screen" />
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>

<!-- FlexSlider -->
<script defer src="/assets/flexslider/jquery.flexslider.js"></script>
<script type="text/javascript">
// Initialize flexsliders
$(window).load(function() {
  $('#flexslider1').flexslider({
    animationSpeed: 600,
    animationLoop: true,
    slideshowSpeed: 9000,
    controlNav: false,
    directionNav: false,
    smoothHeight: false,
    itemWidth: 350,
    minItems: 1,
    maxItems: 1,
    randomize: false,
  });
  $('#flexslider2').flexslider({
    initDelay: 7000,
    animationSpeed: 600,
    animationLoop: true,
    slideshowSpeed: 9000,
    controlNav: false,
    directionNav: false,
    smoothHeight: false,
    itemWidth: 350,
    minItems: 1,
    maxItems: 1,
    randomize: false,
  });
  $('#flexslider3').flexslider({
    initDelay: 5000,
    animationSpeed: 600,
    slideshowSpeed: 9000,
    animationLoop: true,
    controlNav: false,
    directionNav: false,
    smoothHeight: false,
    itemWidth: 350,
    minItems: 1,
    maxItems: 1,
    randomize: false,
  });
  $('#flexslider4').flexslider({
    initDelay: 3000,
    animationSpeed: 600,
    animationLoop: true,
    slideshowSpeed: 9000,
    controlNav: false,
    directionNav: false,
    smoothHeight: false,
    itemWidth: 350,
    minItems: 1,
    maxItems: 1,
    randomize: false,
  });
  $('#flexslider5').flexslider({
    initDelay: 1000,
    animationSpeed: 600,
    animationLoop: true,
    slideshowSpeed: 9000,
    controlNav: false,
    directionNav: false,
    smoothHeight: false,
    itemWidth: 350,
    minItems: 1,
    maxItems: 1,
    randomize: false,
  });
  $('#flexslider6').flexslider({
    initDelay: 8000,
    animationSpeed: 600,
    animationLoop: true,
    slideshowSpeed: 9000,
    controlNav: false,
    directionNav: false,
    smoothHeight: false,
    itemWidth: 350,
    minItems: 1,
    maxItems: 1,
    randomize: false,
  });
  $('#flexslider7').flexslider({
    initDelay: 2000,
    animationSpeed: 600,
    animationLoop: true,
    slideshowSpeed: 9000,
    controlNav: false,
    directionNav: false,
    smoothHeight: false,
    itemWidth: 350,
    minItems: 1,
    maxItems: 1,
    randomize: false,
  });
  $('#flexslider8').flexslider({
    initDelay: 6000,
    animationSpeed: 600,
    animationLoop: true,
    slideshowSpeed: 9000,
    controlNav: false,
    directionNav: false,
    smoothHeight: false,
    itemWidth: 350,
    minItems: 1,
    maxItems: 1,
    randomize: false,
  });
  $('#flexslider9').flexslider({
    initDelay: 4000,
    animationSpeed: 600,
    animationLoop: true,
    slideshowSpeed: 9000,
    controlNav: false,
    directionNav: false,
    smoothHeight: false,
    itemWidth: 350,
    minItems: 1,
    maxItems: 1,
    randomize: false,
  });
});
</script>
