<link rel="stylesheet" href="/assets/flexslider/flexslider.css" type="text/css" media="screen" />
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>

<!-- FlexSlider -->
<script defer src="/assets/flexslider/jquery.flexslider.js"></script>
<script type="text/javascript">
var fs = $('.flexslider'),
    dataItem = fs.data('item'),
    item = fs.find('.item');

// Wrap divs
for (var i = 0; i < item.length; i+=dataItem) {
  item.slice(i, i+dataItem).wrapAll('<div class="items"></div>');
}

// Initialize flexslider
$(window).load(function() {
  fs.flexslider({
    selector: '.slides > .items',
    animation: "slide",
    animationSpeed: 200,
    animationLoop: true,
    controlNav: false,
    directionNav: false,
    smoothHeight: false,
    itemMargin: 5,
    itemWidth: 450,
    minItems: 3,
    maxItems: 3,
    randomize: false,
  });
});
</script>
