<nav>
  <div class="top-bar">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
      <a href="/"><svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg></a>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="#">Services</a>
            <ul class="menu vertical">
              <li><a href="#">Events</a></li>
              <li><a href="#">Radio</a></li>
              <li><a href="#">Digital</a></li>
              <li><a href="#">Press</a></li>
            </ul>
          </li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#"><svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg></a></li>
          <li><a href="#"><svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg></a></li>
          <li><a href="#"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>