<!-- Overlay Menu -->
<div class="overlay show-for-medium" id="overlay" data-toggler=".open">

  <button class="close-button" data-toggle="overlay" type="button">
      <span aria-hidden="true">&times;</span>
  </button>

  <nav class="overlay-menu">
      <ul>
        {% for link in site.data.navigation %}
          <li class="element">
            <a href="{{link.href}}">{{link.title}}</a>
          </li>
        {% endfor %}
      </ul>
  </nav>

</div>
<!-- End Overlay Menu -->

<!-- Overlay Menu Mobile -->
<div class="overlay-mobile show-for-small-only" id="overlay-mobile" data-toggler=".open">

  <button class="close-button" data-toggle="overlay-mobile" type="button">
      <span aria-hidden="true">&times;</span>
  </button>

  <nav class="overlay-menu-mobile">
      <ul>
        {% for link in site.data.navigation-mobile %}
          <li class="element">
            <a href="{{link.href}}">{{link.title}}</a>
          </li>
        {% endfor %}
      </ul>
  </nav>

</div>
<!-- End Overlay Menu Mobile -->