@font-face {
  font-family: 'AtlasGrotesk-Regular';
  src: url('../fonts/AtlasGrotesk-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AtlasGrotesk-Regular.woff') format('woff'), url('../fonts/AtlasGrotesk-Regular.ttf')  format('truetype'), url('../fonts/AtlasGrotesk-Regular.svg#AtlasGrotesk-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd-ExtraBoldOblique';
  src: url('../fonts/FuturaStd-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaStd-ExtraBoldOblique.woff') format('woff'), url('../fonts/FuturaStd-ExtraBoldOblique.ttf')  format('truetype'), url('../fonts/FuturaStd-ExtraBoldOblique.svg#FuturaStd-ExtraBoldOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}