//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. 404
//   4. Navigation
//   5. Sections
//   6. Excerpt
//   7. Page
//   8. Contact

// 1. Global
// ---------

body {
  cursor: default;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background: $color--black;
  color: $color--white;
}

a { 
  transition: $primary-transition;
}

// 2. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

// 3. 404
// ------

.missing {
  margin-top: 3rem;
  margin-bottom: 3rem;
    a {
      color: $color--dark-gray;
    }
    a:hover {
      color: $color--black;
    }
}

// 4. Navigation
// -------------

nav a { 
  color: $color--white;
}


// 6. Excerpt
// ----------

.excerpt {
  position:relative;
  opacity:1;
  margin: 1rem 0rem;
  transition: $primary-transition;
    @include breakpoint(medium only) {
      margin: 1rem;
    }
    @include breakpoint(small only) {
      margin: 1.5rem;
    }
    img {
      width:100%;
      filter: grayscale(1);
    }
    &:hover .excerpt__image:after {
      background:$color--red;
      transition: $primary-transition;
      opacity:0.8;
    }
    &:hover .excerpt__title p {
      opacity: 1;
      color: $color--black;
    } 
}

.excerpt__title {
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin: 0rem;
    p {
      opacity: 1;
      color: $color--white;
      transition: $primary-transition;
      letter-spacing: 0.05rem;
      margin: 0rem;
    }
}

div.row.excerpt__title {
  margin: 0rem;
}

.excerpt__image:after {
  content:'\A';
  position:absolute;
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  opacity:0;
  transition: $primary-transition;
}

// 7. Page
// -------

.page__content {
  padding: 1rem 3rem 1rem 3rem;
    @include breakpoint(small only) {
      padding: 2rem;
    }
    h3 {
      margin-bottom: 2rem;
    }
}

// 8. Contact
// -------

.contact {
  padding: 3rem;
    @include breakpoint(small only) {
      padding: 2rem;
    }
}

.contact__detail {
  margin-bottom: 0rem;
}

.contact {
  a {
    display: inline-block;
    position: relative;
  }

  a::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid $color--black;
    margin-top: 5px;
    transition: $primary-transition;
  }

  a:hover::after {
    border-bottom: 1px solid $color--lightest-gray;
    margin-top: 5px;
  }
}

.contact__copyright {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.contact__address {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

// 7. Gallery
// ----------

.gallery {
  height: 100vh; 
}

.gallery-cell {
  width: 100%;
  height: 100%;
  /* inherit height from gallery */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: 1; 
}
  


// 10. About
// ---------

.about__clients {
  padding: 1rem 3rem 1rem 3rem;
    @include breakpoint(small only) {
      padding: 2rem;
    }
    h3 {
      margin-bottom: 2rem;
    }
}

// 11. Footer
// ----------

footer {
  background-color: $color--black;
  color: $color--white;
  margin-top: 3rem;
  padding: 2rem 3rem 2rem 3rem;
  a {
    color: $color--white;
    display: block;
    }
  @include breakpoint(small only) {
    padding: 2rem;
  }
}

.footer__detail {
  color: $color--gray;
}

// 5. Index
// --------

.index__hero {
  min-height: 50vh;
  background: url(../img/hero.jpg) 50% 50% no-repeat;
  background-size: cover;
  padding-top: 7rem;
  h1 {
  color: $color--white;
  }
}

.index__intro {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.index__services {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.index__section__title {
  color: $color--red;
}

.index__services__section {
  padding-bottom: 2rem;
  h4 {
    color: $color--black;
  }
  h5 {
    color: $color--gray;
  }
  p {
    color: $color--dark-gray;
  }
}

.index__more {
  color: $color--gray;
  span {
    color: $color--red;
  }
}

// 11. Clients
// ----------


.clients__intro {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

// 11. Team
// ----------


.team__intro {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.team__excerpt {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


