---
layout: default
---

<!-- Hero -->
<section class="client__hero">
  <div class="client__hero__cell" style="background-image: url({{page.image}})">
      <div class="row client__hero__cell__text align-middle align-center">
          <div class="shrink columns">
            <h1>{{ page.title }}</h1>
          </div>
       </div> 
  </div>
</section>
<!-- End Hero -->

<!-- Content -->
<div class="row client__content align-center">
  <div class="small-10 medium-10 columns">
    {{ page.content | markdownify }}
  </div>
</div>
<!-- End Content -->