<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<!-- Head -->
{% include head.html %}
<!-- End Head -->

<body class="animated fadeIn">
  
<!-- Navigation -->  
{% include navigation.html %}
<!-- End Navigation -->

<!-- Menu -->  
{% include overlay-menu.html %}
<!-- End Menu --> 

<!-- Content -->
{{ content }}
<!-- End Content -->

<!-- Footer -->  
{% include footer.html %}
<!-- End Footer -->

</body>

<!-- Scripts -->
{% include scripts.html %}
{% include flexslider.html %}

<!-- End Scripts -->

</html>